body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#fileInput {
    display: block;
    margin: 20px auto;
}

#uploadButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#uploadedFiles {
    margin: 20px auto;
}